Assets/Work Backup Scenes
Assets/Work Backup Scenes*
ArtSource/
MusicSource/
Library/
obj/
Builds/
Screenshots/
AssetBundles/
Assets/StreamingAssets
CachedLibraries/
Temp/
PluginStage/Temp/
PluginStage/Library/
.git/*
.vs/*
*.unityproj
*.csproj
*.got
Mosaic.sln
*.userprefs
*.suo
*.sln
*/.gitignore
mosaicbeta.sln
*.DS_Store

Mosaic.sln.DotSettings.user

ExportedObj/*
.idea/*
/*.png
*.csproj.user
.vscode/settings.json
Assets/Resources/NO_COMPANY_NAME.meta
Assets/Resources/NO_COMPANY_NAME/NO_APP_NAME.meta
Assets/Resources/NO_COMPANY_NAME/NO_APP_NAME/FrameworkRules.meta
Assets/Resources/NO_COMPANY_NAME/NO_APP_NAME/KrillbiteRules.meta
GameEventRules.json
Assets/Resources/Krillbite/Mosaic/FrameworkRules/GameEventRules.json.meta
Assets/Fabric/Editor/PreviewerSessions*
Mosaic.sln.DotSettings

Assets/Scripts/TreeViewExamples*

/Assets/Plugins/Editor/JetBrains*

LocalGitInfo.txt

*LocalGitInfo.txt.meta

*.autosave

GameSettings.asset

/Assets/StreamingAssets.meta
Work Backup Scenes/
*.fbx.bak*

/Assets/Scripts/GitInfo*

/GameSettingsCache*
/Assets/Scenes/Restored Backups*
/MosaicPy/
